@import "variables";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Everything */
* {
  // set below to helvetica
  font-family: "Open Sans", sans-serif;
  // set text color to primary color
  color: $primary-color;
}

/* Headings */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Body text */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Lists */
ul {
  list-style-type: disc;
  margin-bottom: 1rem;
}

ol {
  list-style-type: decimal;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1440px) {
  html { font-size: 20px; } 
}
@media screen and (max-width: 1440px) {
  html { font-size: 18px; } 
}
@media screen and (max-width: 768px) {
  html { font-size: 16px; } 
}