@import "/src/styles/variables.scss";

// Root Container
.root-container {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
}

// Header
.nav-header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  background-color: rgba($secondary-color, 0.5);
  box-sizing: border-box;
  flex: 1;
}

// Logo
.logo-list {
  height: 1.5rem;
  padding: 0;
}

.logo-list li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 2s ease-in-out;
  opacity: 1;
  max-width: 1.5rem;
}
.logo-list.hidden li.spaced {
  padding-left: 0;
}
.logo-list li.spaced {
  padding-left: 0.5em;
}

.logo-list.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

// Navigation links
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  flex: 1;
  li {
    padding: 0 0.5rem;
    a {
      color: $primary-color;
      text-decoration: none;
      // font-weight: 700;
      // font-size: 1.5rem;
      transition: all 0.5s ease-in-out;
      &:hover {
        color: $quaternary-color;
      }
    }
  }
}

// Sections
.introduction,
.about,
.projects,
.skills,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $secondary-color;
}

.about {
  background-color: $quaternary-color;
}

.contact {
  .contact-form {
    display: grid;
    input,
    textarea {
      padding: 0.5rem;
      border: 0;
      border-radius: 0.25rem;
      margin: 0.5rem 0;
      &:focus {
        outline: none;
        border-color: $senary-color;
      }
    }
  }
}

// Reusable components
button {
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  background-color: $quaternary-color;
  color: $secondary-color;
  &:hover {
    background-color: $quinary-color;
  }
}
