@import '/src/styles/variables.scss';


// Root Container
.root-container {
  display: flex;
  flex-direction: column;
  min-height: 110vh;
  background-color: $secondary-color;
}

// Header
.nav-header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  background-color: $secondary-color;
}

// Logo
.logo-list {
  height: 1.5rem;
  padding: 0;
}

.logo-list li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 2s ease-in-out;
  opacity: 1;
  max-width: 1.5rem;
}
.logo-list.hidden li.spaced {
  padding-left: 0;
}
.logo-list li.spaced {
  padding-left: 0.5em;
}

.logo-list.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

// Navigation links
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  padding: 0;
}

// Sections
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $secondary-color;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $secondary-color;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $secondary-color;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $secondary-color;
}