<!-- create header -->
<div class="header">
  <!-- Logo Animation -->
  <ul #myLogo class="logo-list hidden">
    <li>d</li>
    <li class="ghost">e</li>
    <li class="ghost">n</li>
    <li class="ghost">i</li>
    <li class="ghost">z</li>
    <li class="spaced">b</li>
    <li class="ghost">u</li>
    <li class="ghost">r</li>
    <li class="ghost">d</li>
    <li class="ghost">u</li>
    <li class="ghost">r</li>
    <li class="ghost">o</li>
    <li class="ghost">g</li>
    <li class="ghost">l</li>
    <li class="ghost">u</li>
  </ul>

  <!-- List of Navigation routerlinks -->
  <ul class="nav-list">
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</div>

<div class="body-page">
  <p>Hi, my name is</p>
  <h1>Deniz Burduroglu</h1>
  <p>I'm a Full-Stack Developer</p>
</div>
